Repository nitrojs/nitro, pull requests merged in 2023-11, with the labels that each got.

#1878 chore: add jsdoc for `cache.maxAge`
  src/runtime/cache.ts
Labels: documentation

#1914 fix(prerender): decode generated routes
  src/prerender.ts
Labels: bug, prerender

#1932 fix(prerender): decode uris in headers
  src/prerender.ts
Labels: bug, prerender

#1966 feat: support function/RegExp for `prerender.ignore`
  docs/content/3.config.md
  src/prerender.ts
  src/types/nitro.ts
Labels: enhancement
