Repository nitrojs/nitro, pull requests merged in 2024-09, with the labels that each got.

#2713 feat(dev-server): redirect requsts without base url
  src/core/dev-server/server.ts
Labels: bug

#2724 fix: ensure legacy runtime config types are populated
  src/core/index.ts
  src/types/config.ts
Labels: bug, types, v2

#2732 fix: do not generate runtime config types with external framework
  src/core/config/loader.ts
Labels: bug

#2700 refactor: improve type definitions for CacheOptions
  src/runtime/internal/cache.ts
  src/types/runtime/cache.ts
Labels: cache
