Repository nitrojs/nitro, pull requests merged in 2024-02, with the labels that each got.

#1351 feat: experimental database layer
  .gitignore
  docs/1.guide/10.configuration.md
  docs/1.guide/11.typescript.md
  docs/1.guide/3.websocket.md
  docs/1.guide/4.storage.md
  docs/1.guide/5.database.md
  docs/1.guide/6.cache.md
  docs/1.guide/7.fetch.md
  docs/1.guide/8.assets.md
  docs/1.guide/9.plugins.md
  examples/database/nitro.config.ts
  examples/database/package.json
  examples/database/routes/index.ts
  examples/database/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/options.ts
  src/presets/deno-server.ts
  src/rollup/config.ts
  src/rollup/plugins/database.ts
  src/runtime/database.ts
  src/runtime/virtual/database.d.ts
  src/types/nitro.ts
  test/fixture/api/db.ts
  test/fixture/nitro.config.ts
  test/tests.ts
Labels: enhancement, database

#1248 feat: add koyeb preset
  docs/2.deploy/20.providers/koyeb.md
  src/presets/index.ts
  src/presets/koyeb.ts
Labels: preset:koyeb

#1790 feat(providers): support alwaysdata hosting provider
  docs/2.deploy/20.providers/alwaysdata.md
  src/presets/alwaysdata.ts
  src/presets/index.ts
Labels: preset
